<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userDefaultsName</key>
	<string>com.anexia-it.internal.showcase.ml.userdefaults</string>
	<key>pubNubPublishKey</key>
	<string></string>
	<key>pubNubSubscribeKey</key>
	<string></string>
	<key>faceApiKey</key>
	<string></string>
	<key>faceApiURL</key>
	<string>https://westcentralus.api.cognitive.microsoft.com/face/v1.0/</string>
	<key>accessKeyS3</key>
	<string></string>
	<key>secretKeyS3</key>
	<string></string>
	<key>bucketNameS3</key>
	<string></string>
</dict>
</plist>
